In [6]:
%pylab inline
import pandas as pd
import numpy as np
import matplotlib
import matplotlib.pyplot as plt
matplotlib.rcParams['figure.figsize'] = (20, 10)

Populating the interactive namespace from numpy and matplotlib

In [7]:
df1 = pd.read_csv('./data/datasets_20710_26737_Bengaluru_House_Data.csv')

In [8]:
df1.head()

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00

In [12]:
df1.groupby('area_type')['area_type'].agg('count')

area_type
Built-up  Area          2418
Carpet  Area              87
Plot  Area              2025
Super built-up  Area    8790
Name: area_type, dtype: int64

In [15]:
df2 = df1.drop(['area_type', 'society', 'balcony', 'availability'], axis='columns')
df2.head()

                   location       size total_sqft  bath   price
0  Electronic City Phase II      2 BHK       1056   2.0   39.07
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00
2               Uttarahalli      3 BHK       1440   2.0   62.00
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00
4                  Kothanur      2 BHK       1200   2.0   51.00

## After simplifying the data, cleaning kicks in here

In [18]:
df2.isnull().sum()

location       1
size          16
total_sqft     0
bath          73
price          0
dtype: int64

In [19]:
df3 = df2.dropna()
df3.isnull().sum()

location      0
size          0
total_sqft    0
bath          0
price         0
dtype: int64

In [20]:
df3['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom', '7 Bedroom',
       '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK', '9 BHK',
       '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom', '10 BHK',
       '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK', '12 Bedroom',
       '13 BHK', '18 Bedroom'], dtype=object)

In [21]:
df3['bhk'] = df3['size'].apply(lambda x: int(x.split(' ')[0]))

/Users/sungjbyun/anaconda/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [23]:
df3.head()

                   location       size total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK       1056   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom       2600   5.0  120.00    4
2               Uttarahalli      3 BHK       1440   2.0   62.00    3
3        Lingadheeranahalli      3 BHK       1521   3.0   95.00    3
4                  Kothanur      2 BHK       1200   2.0   51.00    2

In [25]:
df3['bhk'].unique()

array([ 2,  4,  3,  6,  1,  8,  7,  5, 11,  9, 27, 10, 19, 16, 43, 14, 12,
       13, 18])

In [26]:
df3[df3.bhk > 20]

                       location        size total_sqft  bath  price  bhk
1718  2Electronic City Phase II      27 BHK       8000  27.0  230.0   27
4684                Munnekollal  43 Bedroom       2400  40.0  660.0   43

In [29]:
df3.total_sqft.unique()

array(['1056', '2600', '1440', ..., '1133 - 1384', '774', '4689'], dtype=object)

In [32]:
def is_float(x):
    try:
        float(x)
    except:
        return False
    return True

df3[~df3['total_sqft'].apply(is_float)].head()

               location   size   total_sqft  bath    price  bhk
30            Yelahanka  4 BHK  2100 - 2850   4.0  186.000    4
122              Hebbal  4 BHK  3067 - 8156   4.0  477.000    4
137  8th Phase JP Nagar  2 BHK  1042 - 1105   2.0   54.005    2
165            Sarjapur  2 BHK  1145 - 1340   2.0   43.490    2
188            KR Puram  2 BHK  1015 - 1540   2.0   56.800    2

In [44]:
# if total_sqft has 2 # then use avg, otherwise don't use it

def convert_sqft_to_num(x):
    tokens = x.split('-')
    
    if len(tokens) == 2:
        return (float(tokens[0]) + float(tokens[1]))/2
    
    try:
        return float(x)
    except:
        return None

In [53]:
df4 = df3.copy()
df4['total_sqft'] = df4['total_sqft'].apply(convert_sqft_to_num)
# df4.loc[30]

In [54]:
df4.head()

                   location       size  total_sqft  bath   price  bhk
0  Electronic City Phase II      2 BHK      1056.0   2.0   39.07    2
1          Chikka Tirupathi  4 Bedroom      2600.0   5.0  120.00    4
2               Uttarahalli      3 BHK      1440.0   2.0   62.00    3
3        Lingadheeranahalli      3 BHK      1521.0   3.0   95.00    3
4                  Kothanur      2 BHK      1200.0   2.0   51.00    2

In [55]:
df5 = df4.copy()
df5['price_per_sqft'] = df5['price']*10000/df5['total_sqft'] 
df5.head()

,location,size,total_sqft,bath,price,bhk,price_per_sqft
0,Electronic City Phase II,2 BHK,1056.0,2.0,39.07,2,369.981061
1,Chikka Tirupathi,4 Bedroom,2600.0,5.0,120.00,4,461.538462
2,Uttarahalli,3 BHK,1440.0,2.0,62.00,3,430.555556
3,Lingadheeranahalli,3 BHK,1521.0,3.0,95.00,3,624.589086
4,Kothanur,2 BHK,1200.0,2.0,51.00,2,425.000000

In [57]:
len(df5['location'].unique())

1304

In [61]:
df5.location = df5.location.apply(lambda x: x.strip())
location_stats = df5.groupby('location')['location'].agg('count').sort_values(ascending=False)

location_stats

location
Whitefield                                      535
Sarjapur  Road                                  392
Electronic City                                 304
Kanakpura Road                                  266
Thanisandra                                     236
Yelahanka                                       210
Uttarahalli                                     186
Hebbal                                          176
Marathahalli                                    175
Raja Rajeshwari Nagar                           171
Bannerghatta Road                               152
Hennur Road                                     150
7th Phase JP Nagar                              149
Haralur Road                                    141
Electronic City Phase II                        131
Rajaji Nagar                                    106
Chandapura                                       98
Bellandur                                        96
Hoodi                                            88
KR Puram                                         88
Electronics City Phase 1                         87
Yeshwanthpur                                     85
Begur Road                                       84
Sarjapur                                         81
Kasavanhalli                                     79
Harlur                                           79
Banashankari                                     74
Hormavu                                          74
Kengeri                                          73
Ramamurthy Nagar                                 73
                                               ...
white field,kadugodi                              1
Kanakapura Main Road                              1
Kanakapura  Rod                                   1
Kanakapur main road                               1
Kanakadasa Layout                                 1
Kamdhenu Nagar                                    1
Kalkere Channasandra                              1
Kalhalli                                          1
Kengeri Satellite Town Stage II                   1
Kodanda Reddy Layout                              1
Malimakanapura                                    1
Konappana Agrahara                                1
Mailasandra                                       1
Maheswari Nagar                                   1
Madanayakahalli                                   1
MRCR Layout                                       1
MM Layout                                         1
MEI layout, Bagalgunte                            1
M.G Road                                          1
M C Layout                                        1
Laxminarayana Layout                              1
Lalbagh Road                                      1
Lakshmipura Vidyaanyapura                         1
Lakshminarayanapura, Electronic City Phase 2      1
Lakkasandra Extension                             1
LIC Colony                                        1
Kuvempu Layout                                    1
Kumbhena Agrahara                                 1
Kudlu Village,                                    1
1 Annasandrapalya                                 1
Name: location, Length: 1293, dtype: int64

In [64]:
len(location_stats[location_stats<=10])

1052

In [65]:
location_stats_less_than_10 = location_stats[location_stats<=10]
location_stats_less_than_10

location
BTM 1st Stage                                   10
Basapura                                        10
Sector 1 HSR Layout                             10
Naganathapura                                   10
Kalkere                                         10
Nagadevanahalli                                 10
Nagappa Reddy Layout                            10
Sadashiva Nagar                                 10
Gunjur Palya                                    10
Dairy Circle                                    10
Ganga Nagar                                     10
Dodsworth Layout                                10
1st Block Koramangala                           10
Chandra Layout                                   9
Jakkur Plantation                                9
2nd Phase JP Nagar                               9
Yemlur                                           9
Mathikere                                        9
Medahalli                                        9
Volagerekallahalli                               9
4th Block Koramangala                            9
Vishwanatha Nagenahalli                          9
B Narayanapura                                   9
KUDLU MAIN ROAD                                  9
Ejipura                                          9
Vignana Nagar                                    9
Peenya                                           9
Kaverappa Layout                                 9
Banagiri Nagar                                   9
Gollahalli                                       9
                                                ..
white field,kadugodi                             1
Kanakapura Main Road                             1
Kanakapura  Rod                                  1
Kanakapur main road                              1
Kanakadasa Layout                                1
Kamdhenu Nagar                                   1
Kalkere Channasandra                             1
Kalhalli                                         1
Kengeri Satellite Town Stage II                  1
Kodanda Reddy Layout                             1
Malimakanapura                                   1
Konappana Agrahara                               1
Mailasandra                                      1
Maheswari Nagar                                  1
Madanayakahalli                                  1
MRCR Layout                                      1
MM Layout                                        1
MEI layout, Bagalgunte                           1
M.G Road                                         1
M C Layout                                       1
Laxminarayana Layout                             1
Lalbagh Road                                     1
Lakshmipura Vidyaanyapura                        1
Lakshminarayanapura, Electronic City Phase 2     1
Lakkasandra Extension                            1
LIC Colony                                       1
Kuvempu Layout                                   1
Kumbhena Agrahara                                1
Kudlu Village,                                   1
1 Annasandrapalya                                1
Name: location, Length: 1052, dtype: int64

In [66]:
len(df5['location'].unique())

1293

In [68]:
df5.location = df5.location.apply(lambda x: 'other' if x in location_stats_less_than_10 else x)
len(df5['location'].unique())

242